#quotes{
  border: 1px solid black;
  padding: 25px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 30px;
}
#home{
  background-image: url("https://images.pexels.com/photos/164018/pexels-photo-164018.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 18%;
  text-align: center;

}
#quotes:hover{
  background-color:rgb(247, 242, 242,0.7)
}
#one {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#two {
  background-color: 	#008080;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#one {
  background-color: 	#008080;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#three {
  background-color: 	#008080;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}
#pad {
  padding-top: 60px;
  text-align:center;

}
