<!-- <app-quotes-form>(addQuotes)="addNewQuotes($event)"</app-quotes-form> -->
<div class="container-fluid">


  <div id="home">
    <h2>Quotify your thoughts</h2>
    <h5>inspire others through your daily thoughts</h5>
    <button id="one" (click)='toogleDetails(i)'>Top 3 quotes</button>
    <button id="two">Add Quote</button>
    <button id="three">View Quotes</button>
  </div>
</div>
<app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>

<div id="next">
  <div class="row">
    <div class="col4 inner-left">

      <h4 id="pad">Top 3 Quotes today</h4>
      <div *ngFor="let quote of quotes;let i = 'index'">
        <ul id="quotes">

          <li>{{quote.publisher}} posted on {{quote.completeDate|date}}</li>
          <app-quote-details [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
        </ul>

      </div>
    </div>
  </div>



</div>
