<div class="container">
  <div id="home">
    <div id="overlay">

    </div>
    <h3 id="one">Quotify you thoughts</h3>
    <h6 id="two">with @quoted thoughts</h6>
    <button>Top 3 quotes</button>
    <button>Add Quote</button>
    <button>View Quotes</button>

  </div>
</div>

<div *ngFor='let quote of quotes'>
  <ul>
      <li>{{quote.name}}</li>
      <app-quotes-details [quote]='quote'></app-quotes-details>
  </ul>
</div>

<h4>Top 3 Quotes today</h4>

<app-quotes-details>[quote]='quote'</app-quotes-details>
<app-quotes-form></app-quotes-form>
